<div class="modal fade" id="mudarNomeDevice" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dispositivo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span id ="idDeviceModal" hidden></span>
        <div class="mb-3">
          <label class="form-label" for="novoNomeDevice" >Nome</label>
          <input type="text" class="form-control" name="novoNomeDevice" id="novoNomeDevice">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-action="click->iot#set_name_api">Alterar</button>
      </div>
    </div>
  </div>
</div>