<h1>Olá, você não tem nenhum dispositivo desbloqueado!</h1>

<h3>Envie uma mensagem de email para <strong><%= ENV['ADM_EMAIL'] %></strong>, para desbloquear seu dispositivo informando o TOKEN que vc recebeu junto com o pacote. </h3>
<h3>Ou se preferir, pode enviar uma mensagem de WhatsApp para <strong><%= ENV['ADM_ZAP'] %></strong> informando o TOKEN.</h3>