<h1>Olá, você não tem nenhum dispositivo desbloqueado!</h1>

<h3>Envie uma mensagem de email para <strong><%= ENV['ADM_EMAIL'] %></strong>, para desbloquear seu dispositivo informando o <strong style="color: red;">TOKEN</strong> que vc recebeu junto com o pacote e o <strong style="color: red;">E-MAIL: <%= current_user.email %></strong>.</h3>
<h3>Ou se preferir, pode enviar uma mensagem de WhatsApp para <strong><%= ENV['ADM_ZAP'] %></strong> passando as mesmas informações.</h3>