<div data-controller="iot">
  <div class="accordion accordion-flush" id="list_devices_accordion">
    <% @devices.each do |device| %>
      <% matching_channels = @channels.select { |channel| channel.client_id == device.client_id } %>
      <% case device.tipo %>
        <% when 'mini_monit' %>
          <%= render 'iot/mini_monit', device: device, channels: matching_channels %>
      <% end %>
    <% end %>
  </div>
  <div id="propeties" data-client_id="<%= @client.id %>"></div>
</div>