<% if channels.any? { |ch| ch['tipo'] == 'slide' } %>
  <br>
  <div style="border: 1px solid lightblue; border-radius: 10px; padding: 10px;">
    <% channels.each do |ch| %>
      <% if ch.tipo == 'slide' %>
        <%= render 'components/slide', device: device, slide: ch %>
      <% end %>
    <% end %>
  </div>
<% end %>