// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.publish {
  color: red;
  font-weight: bold;
}

.subscrible {
  color: rgba(55, 0, 255, 0.795);
  font-weight: bold;
}

.alarme {
  color: rgb(7, 83, 0);
  font-weight: bold;
}

.mini_monit {
  color: rgb(179, 50, 50);
  font-weight: bold;
}

.monitoramento {
  color: rgb(255, 0, 212);
  font-weight: bold;
}

.diversos {
  color: rgb(16, 24, 139);
  font-weight: bold;
}